@import '../app.component.scss';

:host {
  margin-top: $nav-height;
  background-color: #222e23;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#usuario-main {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e4e4;
  max-width: $max-width;

}

#usuario-title {
  display: flex;
  flex-direction: row;
  width: 100%;

  h1 {
    margin: 0;
    width: 100%;
    background-color: #222e23;
    font-size: 30px;
    font-weight: 700;
    color: #91dc5a;
    text-align: center;
  }

  i {
    font-size: 30px;
    color: #a6ae4b;
    margin: 10px;
  }
}

.usuario-items-title {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #cfd0d1;
  padding: 10px;
  span {
    font-weight: 700;
  }

  span:nth-child(1) {
    width: 100%;
  }
  span:nth-child(2),
  span:nth-child(3),
  span:nth-child(4) {
    margin-left: 10px;
    min-width: 95px;
    max-width: 95px;
  }
}

#usuario-items {
  width: 100%;

  .usuario-item {
    padding: 10px;
    border-bottom: 1px solid #cfd0d1;

    display: flex;
    flex-direction: column;

    input, select{
      height: 30px;
      margin-left: 10px;
      font-weight: 700;
      font-size: 20px;
    }
  }
}

#usuario-total{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 100px 10px 10px;
  border-bottom: 1px solid #cfd0d1;
  span{
    font-size: 32px;
    font-weight: 700;
  }
}

#usuario-envio{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #cfd0d1;
  width: 100%;


  select{
    border: solid 1px #bfc1c2;
    padding: 5px;
    margin: 5px;
  }

  select:nth-child(1){
    margin-left: 0px;
  }
}

#usuario-disclaimer{
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  span{
    padding: 10px;
    border-bottom: 1px solid #cfd0d1;
    width: calc(100% - 20px);
    font-weight: 700;
    font-size: 18px;

  }
}

#usuario-buttons{
  width: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px 10px 10px;
  button{
    margin: 0;
    background-color: #222e23;
    font-size: 30px;
    font-weight: 700;
    color: #91dc5a;
    text-align: center;
    padding: 10px 20px 10px 20px;
    border: 0 solid transparent;
    @include shadow(1, black);
    @include transition(0.3s);
    &:hover{
      @include shadow(2, black);
      @include transform(translate(2px, 2px));
    }

  }
}