@import '../node_modules/angular2-toaster/toaster';


body, *{
    font-family: "PT Sans", serif;
}

body {
    margin: 0;
    font: normal 125% / 1.4 'PT Sans', sans-serif, sans-serif;
}




// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
//my-app{
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//}
